<!DOCTYPE html>
<html>

<head>
	<title>
		registration page
	</title>
</head>

<body>
	<div th:if="${status == 'userexists'}" style="color:red;">
		user already exist, try loging in with that account
	</div>
	<form method="post" th:action="@{/register}" th:object="${user}">
		<input placeholder="first name" type="text" th:field="*{firstName}">
		<input placeholder="last name" type="text" th:field="*{lastName}">
		<input placeholder="email" type="email" th:field="*{email}">
		<input placeholder="contact number" type="number" th:field="*{contactNumber}">
		<input placeholder="password" type="password" th:field="*{password}">
		<button type="submit">register</button>
	</form>
	<form method="get" th:action="@{/}">
		<button>go back</button>
	</form>
</body>

</html>